.scheme {
  padding-top: 159px;
  padding-bottom: 50px;
}
.scheme__row--0 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 115px;
}
.scheme__title {
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-right: 180px;
  line-height: 1;
  color: #153587;
  text-transform: uppercase;
  font-family: "agendamedium", sans-serif;
  font-size: 60px;
}
.scheme__title:after {
  z-index: 0;
  opacity: 0.5;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 15px;
  background-color: #1ad5f7;
  transform: translateX(-100%);
  animation-name: underline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes underline {
  to {
    transform: translateX(0);
  }
}
.scheme__title span {
  display: block;
  line-height: 1;
  text-transform: capitalize;
  font-family: "Times New Roman", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.scheme__text {
  width: 100%;
  max-width: 747px;
  margin: 0;
  padding-top: 20px;
  line-height: 1.6;
  color: #536080;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* BLOCK MAIN */
.scheme .block {
  width: 100%;
  max-width: 1097px;
  margin-left: auto;
  margin-right: auto;
}
.scheme .block p {
  margin: 0;
}
.scheme .block-title {
  text-transform: uppercase;
  color: #536080;
  font-family: "proxima_novasemibold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.scheme .block-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.scheme .block-text {
  color: #6f7477;
  font-family: "robotoregular", sans-serif;
  font-size: 12px;
}
.scheme .block-text span {
  color: #1b97df;
  font-weight: 700;
}
.scheme .block-arrow {
  position: relative;
}
.scheme .block-arrow:before {
  content: "";
  position: absolute;
  background-color: #1b97df;
}
.scheme .block-arrow img {
  position: absolute;
}
.scheme .block-col {
  width: 100%;
}
.scheme .block-line {
  display: flex;
}

/* BLOCK LINE 0 */
.scheme .block-line--0 .block-col--0 {
  max-width: 189px;
  padding-top: 15px;
}
.scheme .block-line--0 .block-col--0 img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.scheme .block-line--0 .block-col--0 p {
  text-align: center;
}
.scheme .block-line--0 .block-col--1 {
  max-width: 247px;
  padding-left: 143px;
  padding-top: 22px;
}
.scheme .block-line--0 .block-col--1 img {
  margin-bottom: 5px;
}
.scheme .block-line--0 .block-col--2 {
  max-width: 422px;
}
.scheme .block-line--0 .block-col--2 .block-text {
  padding-top: 41px;
  text-align: center;
}
.scheme .block-line--0 .block-col--2 .block-arrow {
  width: 100%;
  height: 26px;
}
.scheme .block-line--0 .block-col--2 .block-arrow:before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}
.scheme .block-line--0 .block-col--2 .block-arrow img {
  right: 0;
  top: 0;
}
.scheme .block-line--0 .block-col--3 {
  max-width: 239px;
  padding-left: 39px;
}
.scheme .block-line--0 .block-col--3 img {
  margin-bottom: 10px;
}
/* end BLOCK LINE 0 */


/* BLOCK LINE 1 */
.scheme .block-line--1 {
  min-height: 363px;
}
.scheme .block-line--1 .block-col--0 {
  max-width: 189px;
  padding-top: 10px;
}
.scheme .block-line--1 .block-col--0 .block-arrow {
  left: 50%;
  transform: translateX(-50%);
  height: 238px;
  width: 26px;
  margin-top: 20px;
}
.scheme .block-line--1 .block-col--0 .block-arrow:before {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--1 .block-col--0 .block-arrow img {
  bottom: 0;
  left: 0;
}
.scheme .block-line--1 .block-col--1 {
  max-width: 163px;
  padding-top: 91px;
}
.scheme .block-line--1 .block-col--1 .block-text {
  position: relative;
  padding-left: 17px;
}
.scheme .block-line--1 .block-col--2 {
  max-width: 84px;
}
.scheme .block-line--1 .block-col--2 .block-text img {
  position: absolute;
  bottom: -10px;
  right: 10px;
}
.scheme .block-line--1 .block-col--2 .block-arrow {
  top: 0;
  left: 9px;
  width: 26px;
  height: 249px;
  margin-top: 29px;
  margin-bottom: 21px;
}
.scheme .block-line--1 .block-col--2 .block-arrow:before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--1 .block-col--2 .block-arrow img {
  top: 0;
  left: 0;
}
.scheme .block-line--1 .block-col--3 {
  max-width: 422px;
}
.scheme .block-line--1 .block-col--4 {
  max-width: 128px;
}
.scheme .block-line--1 .block-col--5 {
  padding-top: 104px;
  max-width: 111px;
}
/* end BLOCK LINE 1 */


/* BLOCK LINE 2 */
/* end BLOCK LINE 2 */


/* BLOCK LINE 3 */
/* end BLOCK LINE 3 */