/*
  =========================
  SCHEME SECTION
  =========================
*/
.scheme {
  overflow: hidden;
  padding-top: 159px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .scheme {
    display: none;
  }
}
.scheme__row--0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 115px;
  padding-left: 15px;
  padding-right: 15px;
}
.scheme__title {
  overflow: hidden;
  position: relative;
  margin: 0;
  line-height: 1;
  color: #153587;
  text-transform: uppercase;
  font-family: "agendamedium", sans-serif;
  font-size: 60px;
}
.scheme__title:after {
  z-index: 0;
  opacity: 0.5;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 15px;
  background-color: #1ad5f7;
  transform: translateX(-100%);
  animation-name: underline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes underline {
  to {
    transform: translateX(0);
  }
}
.scheme__title span {
  display: block;
  line-height: 1;
  text-transform: capitalize;
  font-family: "Times New Roman", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.scheme__text {
  width: 100%;
  margin: 0;
  padding-top: 20px;
  line-height: 1.6;
  color: #536080;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .scheme__text {
    max-width: 330px;
  }
}
@media screen and (min-width: 992px) {
  .scheme__text {
    max-width: 547px;
  }
}
@media screen and (min-width: 1200px) {
  .scheme__text {
    max-width: 747px;
  }
}

/* BLOCK MAIN */
.scheme .block {
  width: 100%;
  max-width: 1097px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.scheme .block p {
  margin: 0;
}
.scheme .block-title {
  text-transform: uppercase;
  color: #536080;
  font-family: "proxima_novasemibold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.scheme .block-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.scheme .block-text {
  color: #6f7477;
  font-family: "robotoregular", sans-serif;
  font-size: 12px;
}
.scheme .block-text span {
  color: #1b97df;
  font-weight: 700;
}
.scheme .block-arrow {
  position: relative;
}
.scheme .block-arrow:before {
  content: "";
  position: absolute;
  background-color: #1b97df;
}
.scheme .block-arrow img {
  position: absolute;
}
.scheme .block-col {
  position: relative;
  width: 100%;
}
.scheme .block-line {
  display: flex;
}

/* BLOCK LINE 0 */
.scheme .block-line--0 .block-col--0 {
  max-width: 189px;
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--0 .block-col--0 {
    max-width: 135px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--0 .block-col--0 {
    max-width: 189px;
  }
}
.scheme .block-line--0 .block-col--0 img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.scheme .block-line--0 .block-col--0 p {
  text-align: center;
}
.scheme .block-line--0 .block-col--1 {
  max-width: 247px;
  padding-left: 143px;
  padding-top: 22px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--0 .block-col--1 {
    max-width: 147px;
    padding-left: 53px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--0 .block-col--1 {
    max-width: 247px;
    padding-left: 143px;
  }
}
.scheme .block-line--0 .block-col--1 img {
  margin-bottom: 5px;
}
.scheme .block-line--0 .block-col--2 {
  max-width: 422px;
}
.scheme .block-line--0 .block-col--2 .block-text {
  padding-top: 41px;
  text-align: center;
}
.scheme .block-line--0 .block-col--2 .block-arrow {
  width: 100%;
  height: 26px;
}
.scheme .block-line--0 .block-col--2 .block-arrow:before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}
.scheme .block-line--0 .block-col--2 .block-arrow img {
  right: 0;
  top: 0;
}
.scheme .block-line--0 .block-col--3 {
  max-width: 239px;
  padding-left: 39px;
}
.scheme .block-line--0 .block-col--3 img {
  margin-bottom: 10px;
}
/* end BLOCK LINE 0 */


/* BLOCK LINE 1 */
.scheme .block-line--1 {
  min-height: 363px;
}
.scheme .block-line--1 .block-col--0 {
  max-width: 189px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--1 .block-col--0 .block-text {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--1 .block-col--0 .block-text {
    text-align: left;
  }
}
.scheme .block-line--1 .block-col--0 .block-arrow {
  left: 50%;
  transform: translateX(-50%);
  height: 238px;
  width: 26px;
  margin-top: 20px;
}
.scheme .block-line--1 .block-col--0 .block-arrow:before {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--1 .block-col--0 .block-arrow img {
  bottom: 0;
  left: 0;
}
.scheme .block-line--1 .block-col--1 {
  max-width: 163px;
  padding-top: 91px;
}
.scheme .block-line--1 .block-col--1 .block-text {
  position: relative;
  padding-left: 17px;
}
.scheme .block-line--1 .block-col--2 {
  max-width: 84px;
}
.scheme .block-line--1 .block-col--2 .block-text img {
  position: absolute;
  bottom: -10px;
  right: 10px;
}
.scheme .block-line--1 .block-col--2 .block-arrow {
  top: 0;
  left: 9px;
  width: 26px;
  height: 249px;
  margin-top: 29px;
  margin-bottom: 21px;
}
.scheme .block-line--1 .block-col--2 .block-arrow:before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--1 .block-col--2 .block-arrow img {
  top: 0;
  left: 0;
}
.scheme .block-line--1 .block-col--3 {
  max-width: 422px;
}
.scheme .block-line--1 .block-col--3 .block-text-wrap {
  width: 100%;
  max-width: 329px;
  margin-top: 60px;
  margin-left: 69px;
  padding: 25px;
  border: 1px solid #d8e3ea;
  background-color: #f6f7f7;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--1 .block-col--3 .block-text-wrap {
    position: relative;
    left: -60px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--1 .block-col--3 .block-text-wrap {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .scheme .block-line--1 .block-col--3 .block-text-wrap {
    margin-left: 69px;
  }
}
.scheme .block-line--1 .block-col--3 .block-text-wrap > div {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}
.scheme .block-line--1 .block-col--3 .block-text-wrap > div p {
  padding-left: 15px;
}
.scheme .block-line--1 .block-col--4 {
  max-width: 128px;
}
.scheme .block-line--1 .block-col--4 > img {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.scheme .block-line--1 .block-col--4 .block-arrow {
  top: 0;
  left: 63px;
  width: 26px;
  height: 301px;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--1 .block-col--4 .block-arrow {
    left: 50px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--1 .block-col--4 .block-arrow {
    left: 63px;
  }
}
.scheme .block-line--1 .block-col--4 .block-arrow:before {
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--1 .block-col--4 .block-arrow > img {
  bottom: 0;
  left: 0;
}
.scheme .block-line--1 .block-col--5 {
  padding-top: 104px;
  max-width: 111px;
}
/* end BLOCK LINE 1 */


/* BLOCK LINE 2 */
.scheme .block-line--2 .block-col--0 {
  max-width: 160px;
  padding-left: 50px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--2 .block-col--0 {
    max-width: 110px;
    padding-left: 13px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--2 .block-col--0 {
    max-width: 160px;
    padding-left: 50px;
  }
}
.scheme .block-line--2 .block-col--0 > img {
  margin-bottom: 5px;
}
.scheme .block-line--2 .block-col--0 p {
  padding-left: 15px;
  padding-bottom: 10px;
}
.scheme .block-line--2 .block-col--0 .block-arrow {
  width: 26px;
  height: 33px;
  left: 40%;
  transform: translateX(-50%);
}
.scheme .block-line--2 .block-col--0 .block-arrow:before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}
.scheme .block-line--2 .block-col--0 .block-arrow img {
  left: 0;
  bottom: 0;
}
.scheme .block-line--2 .block-col--1 {
  max-width: 139px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--2 .block-col--1 {
    max-width: 47px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--2 .block-col--1 {
    max-width: 139px;
  }
}
.scheme .block-line--2 .block-col--1 .block-arrow {
  margin-top: 32px;
  width: 100%;
  height: 26px;
}
.scheme .block-line--2 .block-col--1 .block-arrow:before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
}
.scheme .block-line--2 .block-col--1 .block-arrow img {
  right: 0;
  top: 0;
}
.scheme .block-line--2 .block-col--2 {
  max-width: 137px;
  padding-top: 24px;
}
.scheme .block-line--2 .block-col--2 > img {
  margin-left: 20px;
  margin-bottom: 10px;
}
.scheme .block-line--2 .block-col--2 > .block-title {
  white-space: nowrap;
  margin-left: -20px;
}
.scheme .block-line--2 .block-col--3 {
  max-width: 422px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--2 .block-col--3 {
    max-width: 222px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--2 .block-col--3 {
    max-width: 287px;
  }
}
@media screen and (min-width: 1200px) {
  .scheme .block-line--2 .block-col--3 {
    max-width: 422px;
  }
}
.scheme .block-line--2 .block-col--3 > img {
  margin-left: 125px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--2 .block-col--3 > img {
    margin-left: 25px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--2 .block-col--3 > img {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .scheme .block-line--2 .block-col--3 > img {
    margin-left: 125px;
  }
}
.scheme .block-line--2 .block-col--3 .block-arrow {
  top: -10px;
  width: 100%;
  height: 26px;
}
.scheme .block-line--2 .block-col--3 .block-arrow:before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
}
.scheme .block-line--2 .block-col--3 .block-arrow img {
  top: 0;
  left: 0;
}
.scheme .block-line--2 .block-col--4 {
  max-width: 128px;
}
.scheme .block-line--2 .block-col--4 > img {
  margin-left: 15px;
  margin-top: -15px;
  margin-bottom: 10px;
}
.scheme .block-line--2 .block-col--4 p {
  white-space: nowrap;
  padding-left: 15px;
}
/* end BLOCK LINE 2 */


/* BLOCK LINE 3 */
.scheme .block-line--3 .block-text {
  text-align: center;
}
.scheme .block-line--3 .block-col--0 {
  max-width: 189px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--3 .block-col--0 {
    max-width: 99px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--3 .block-col--0 {
    max-width: 189px;
  }
}
.scheme .block-line--3 .block-col--0 img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.scheme .block-line--3 .block-col--1 {
  max-width: 307px;
  padding-left: 109px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--3 .block-col--1  {
    max-width: 230px;
    padding-left: 49px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--3 .block-col--1  {
    max-width: 307px;
    padding-left: 109px;
  }
}
.scheme .block-line--3 .block-col--1 img {
  display: block;
  margin-left: 60px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.scheme .block-line--3 .block-col--1 .block-text {
  width: 100%;
  max-width: 155px;
}
.scheme .block-line--3 .block-col--2 {
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  .scheme .block-line--3 .block-col--2 {
    max-width: 150px;
  }
}
@media screen and (min-width: 992px) {
  .scheme .block-line--3 .block-col--2 {
    max-width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .scheme .block-line--3 .block-col--2 {
    max-width: 300px;
  }
}
.scheme .block-line--3 .block-col--2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
}
.scheme .block-line--3 .block-col--2 .block-text {
  width: 100%;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
}
.scheme .block-line--3 .block-col--3 {
  max-width: 300px;
}
.scheme .block-line--3 .block-col--3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
}
.scheme .block-line--3 .block-col--3 .block-text {
  width: 100%;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
}
/* end BLOCK LINE 3 */


/*
  =========================
  end SCHEME SECTION
  =========================
*/



/*
  =========================
  INVEST SECTION
  =========================
*/
.invest {}
/*
  =========================
  end INVEST SECTION
  =========================
*/



/*
  =========================
  SLIDER SECTION
  =========================
*/
.slider {}
/*
  =========================
  end SLIDER SECTION
  =========================
*/



/*
  =========================
  MARKET SECTION
  =========================
*/
.market {}
/*
  =========================
  end MARKET SECTION
  =========================
*/



/*
  =========================
  RETAIL SECTION
  =========================
*/
.retail {}
/*
  =========================
  end RETAIL SECTION
  =========================
*/



/*
  =========================
  CUSTOM SECTION
  =========================
*/
.custom {}
/*
  =========================
  end CUSTOM SECTION
  =========================
*/



/*
  =========================
  SPECIAL SECTION
  =========================
*/
.special {}
/*
  =========================
  end SPECIAL SECTION
  =========================
*/



/*
  =========================
  OUR SECTION
  =========================
*/
.our {
  padding-top: 110px;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .our {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}
.our__row {
  display: flex;
}
@media screen and (max-width: 767px) {
  .our__row {
    flex-wrap: wrap;
  }
}
.our__row-left,
.our__row-right {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .our__row-left,
  .our__row-right {
    width: 100%;
    margin-bottom: 30px;
  }
}
.our__title.title {
  padding-bottom: 40px;
  font-size: 48px;
}
.our__block-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 618px;
  margin-bottom: 30px;
}
.our__block {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 15px;
  border: 1px solid #efefef;
}
@media screen and (min-width: 320px) {
  .our__block {
    width: calc((100% / 1));
  }
}
@media screen and (min-width: 576px) {
  .our__block {
    width: calc((100% / 2) - 10px);
  }
}
@media screen and (min-width: 1200px) {
  .our__block {
    width: calc(558px / 3);
  }
}
@media screen and (min-width: 1366px) {
  .our__block {
    width: calc(618px / 3);
  }
}
.our__block img {
  display: block;
  max-width: 100%;
  height: auto;
}
.our__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 618px;
}
@media screen and (min-width: 320px) {
  .our__box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .our__box {
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 558px;
  }
}
@media screen and (min-width: 1366px) {
  .our__box {
    max-width: 618px;
  }
}
.our__box-text {
  color: #536080;
  font-size: 16px;
}
.our__box-icon {
  width: 16px;
  height: 31px;
  background-image: url("../images/i-corner.png");
}
@media screen and (max-width: 1199px) {
  .our__box-icon {
    display: none;
  }
}
.our__box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 55px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #2a50b1;
  text-transform: uppercase;
  color: #fff;
  font-family: "robotobold", sans-serif;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.our__box-btn:hover {
  border-color: #2a50b1;
  background-color: #fff;
  text-decoration: none;
  color: #2a50b1;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/*
  =========================
  end OUR SECTION
  =========================
*/



/*
  =========================
  DETAILS SECTION
  =========================
*/
.details {
  padding-top: 107px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
}
.details__row {
  display: flex;
}
@media screen and (max-width: 991px) {
  .details__row {
    flex-wrap: wrap;
  }
}
.details__row-left,
.details__row-right {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .details__row-left,
  .details__row-right {
    width: 100%;
    margin-bottom: 20px;
  }
}
.details__title {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 60px;
  line-height: 1;
  color: #153587;
  text-transform: uppercase;
  font-family: "agendamedium", sans-serif;
  font-size: 60px;
}
@media screen and (min-width: 320px) {
  .details__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 576px) {
  .details__title {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .details__title {
    font-size: 50px;
  }
}
@media screen and (min-width: 992px) {
  .details__title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .details__title {
    font-size: 60px;
  }
}
.details__title:after {
  z-index: 0;
  opacity: 0.5;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 15px;
  background-color: #1ad5f7;
  transform: translateX(-100%);
  animation-name: underline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes underline {
  to {
    transform: translateX(0);
  }
}
.details__title span {
  display: block;
  line-height: 1;
  text-transform: capitalize;
  font-family: "Times New Roman", sans-serif;

  font-style: italic;
  font-weight: bold;
}

@media screen and (min-width: 320px) {
  .details__title span {
    font-size: 25px;
  }
}
@media screen and (min-width: 576px) {
  .details__title span {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .details__title span {
    font-size: 30px;
  }
}
.details__text {
  width: 100%;
  max-width: 535px;
  line-height: 1.6;
  color: #536080;
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .details__text {
    max-width: 100%;
  }
}
.details__box {
  display: flex;
  padding-bottom: 38px;
}
.details__box-left {
  width: 106px;
}
.details__box-right {
  padding-top: 23px;
  width: calc(100% - 106px);
}
.details__box-info {
  color: #536080;
  font-size: 16px;
  margin: 0;
  padding-top: 25px;
}
.details__box-text {
  display: flex;
  align-items: center;
  margin: 0;
  color: #536080;
  font-size: 18px;
}
.details__box-text span:nth-child(1) {
  width: 135px;
  text-transform: uppercase;
  font-family: "robotobold", sans-serif;
}
.details__box-text span:nth-child(2) {
  width: calc(100% - 135px);
}
.details__form {
  width: 100%;
  max-width: 511px;
  margin-left: 70px;
}
@media screen and (min-width: 992px) {
  .details__form {
    max-width: 411px;
  }
}
@media screen and (min-width: 1200px) {
  .details__form {
    max-width: 511px;
  }
}
@media screen and (max-width: 991px) {
  .details__form {
    margin-left: auto;
    margin-right: auto;
  }
}
.details__form-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.details__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 95px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
.details__form-label {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 80px;
  height: 100%;
  margin: 0;
  left: 0;
  color: #536080;
  font-size: 16px;
}
.details__form-label:after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 1px;
  height: 24px;
  background-color: #dcdada;
}
.details__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  background-color: #da3440;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 16px;
  font-family: "robotobold", sans-serif;
}
.details .social {
  width: 100%;
  max-width: 511px;
  margin-left: 70px;
}
@media screen and (min-width: 992px) {
  .details .social {
    max-width: 411px;
  }
}
@media screen and (min-width: 1200px) {
  .details .social {
    max-width: 511px;
  }
}
@media screen and (max-width: 991px) {
  .details .social {
    margin-left: auto;
    margin-right: auto;
  }
}
.details .social ul {
  justify-content: center;
}
.details--bg {
  overflow: hidden;
  position: relative;
  height: calc(550px + (70px + 97px));
  padding-top: 70px;
  padding-bottom: 97px;
  background-image: url("../images/img-bg__leader.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.details__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details--bg .container-fluid {
  position: relative;
  height: 100%;
}
.details__block {
  position: absolute;
}
.details__block .details__block-date {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #536080;
  font-size: 14px;
  font-family: "robotobold", sans-serif;
}
.details__block .details__block-text {
  z-index: 1;
  position: absolute;
  padding: 25px 15px;
  border-radius: 4px;
  background-image: -moz-linear-gradient( -132deg, rgb(33,84,207) 0%, rgb(27,151,223) 100%);
  background-image: -webkit-linear-gradient( -132deg, rgb(33,84,207) 0%, rgb(27,151,223) 100%);
  background-image: -ms-linear-gradient( -132deg, rgb(33,84,207) 0%, rgb(27,151,223) 100%);
  box-shadow: 0 7px 21px 0 rgba(21, 53, 135, 0.26);
}
.details__block .details__block-text p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-family: "robotobold", sans-serif;
}
.details__block .details__block-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #da3440;
}
.details__block .details__block-line:before,
.details__block .details__block-line:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
}
.details__block .details__block-line:before {
  width: 22px;
  height: 22px;
  border: 2px solid #da3440;
  background-color: transparent;
}
.details__block .details__block-line:after {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  background-color: #da3440;
}
.details__block-0 {
  top: 143px;
  left: 76px;
  width: 231px;
  height: 253px;
}
.details__block-0 .details__block-line {
  top: 0;
  height: 188px;
}
.details__block-0 .details__block-date {
  bottom: 0;
}
.details__block-0 .details__block-text {
  top: 30px;
}
.details__block-0 .details__block-line:before {
  bottom: -22px;
}
.details__block-0 .details__block-line:after {
  bottom: -18px;
}
.details__block-1 {
  bottom: 0;
  left: 242px;
  width: 276px;
  height: 310px;
}
.details__block-1 .details__block-line {
  bottom: 0;
  height: 243px;
}
.details__block-1 .details__block-date {
  top: 0;
}
.details__block-1 .details__block-text {
  bottom: 30px;
}
.details__block-1 .details__block-line:before {
  top: -22px;
}
.details__block-1 .details__block-line:after {
  top: -18px;
}
.details__block-2 {
  top: 0;
  left: 442px;
  width: 259px;
  height: 283px;
}
.details__block-2 .details__block-line {
  top: 0;
  height: 230px;
}
.details__block-2 .details__block-date {
  bottom: 0;
}
.details__block-2 .details__block-text {
  top: 15px;
}
.details__block-2 .details__block-line:before {
  bottom: -22px;
}
.details__block-2 .details__block-line:after {
  bottom: -18px;
}
.details__block-3 {
  bottom: 85px;
  right: 436px;
  width: 275px;
  height: 259px;
}
.details__block-3 .details__block-line {
  bottom: 0;
  height: 211px;
}
.details__block-3 .details__block-date {
  top: 0;
}
.details__block-3 .details__block-text {
  bottom: 30px;
}
.details__block-3 .details__block-line:before {
  top: -22px;
}
.details__block-3 .details__block-line:after {
  top: -18px;
}
.details__block-4 {
  top: 122px;
  right: 267px;
  width: 231px;
  height: 222px;
}
.details__block-4 .details__block-line {
  top: 0;
  height: 166px;
}
.details__block-4 .details__block-date {
  bottom: 0;
}
.details__block-4 .details__block-text {
  top: 20px;
}
.details__block-4 .details__block-line:before {
  bottom: -22px;
}
.details__block-4 .details__block-line:after {
  bottom: -18px;
}
.details__block-5 {
  bottom: 0;
  right: 33px;
  width: 316px;
  height: 255px;
}
.details__block-5 .details__block-line {
  bottom: 0;
  height: 197px;
}
.details__block-5 .details__block-date {
  top: 0;
}
.details__block-5 .details__block-text {
  bottom: 20px;
}
.details__block-5 .details__block-line:before {
  top: -22px;
}
.details__block-5 .details__block-line:after {
  top: -18px;
}
/*
  =========================
  end DETAILS SECTION
  =========================
*/



/*
  =========================
  LEADER SECTION
  =========================
*/
.leader {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #1b3a8a;
  background-image: url("../images/img-bg__leader.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .leader {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.leader__row {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .leader__row {
    flex-wrap: wrap;
  }
}
.leader__row-left {
  width: calc(100% - 741px);
}
@media screen and (max-width: 1199px) {
  .leader__row-left {
    width: 100%;
  }
}
.leader__row-right {
  width: 741px;
}
@media screen and (max-width: 1199px) {
  .leader__row-right {
    width: 100%;
  }
}
.leader__title.title {
  padding-bottom: 50px;
  line-height: 1.3;
  text-transform: none;
  color: #fff;
  font-family: "agendamedium", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 320px) {
  .leader__title.title {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) {
  .leader__title.title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .leader__title.title {
    font-size: 48px;
  }
}
.leader__title.title span {
  font-family: "agendabold", sans-serif;
  font-weight: bold;
}
.leader__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: "robotobold", sans-serif;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.leader__btn:hover,
.leader__btn:focus {
  text-decoration: none;
  color: #1b3a8a;
  background-color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.leader__video-wrap {
  position: relative;
  width: 100%;
  max-width: 741px;
  min-height: 418px;
}
.leader__video-wrap img {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}
@media screen and (max-width: 767px) {
  .leader__video-wrap img {
    display: none;
  }
}
.leader__video {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 533px;
  height: 310px;
  padding: 10px 10px 0;
}
@media screen and (max-width: 767px) {
  .leader__video {
    width: 100%;
  }
}
.leader__video iframe {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
}
.leader__video-corner {
  position: absolute;
  top: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
}
.leader__video-corner--left {
  left: 0;
  background-image: url("../images/i-corner-left__leader.png");
  background-size: contain;
}
.leader__video-corner--right {
  right: 0;
  background-image: url("../images/i-corner-right__leader.png");
  background-size: contain;
}
/*
  =========================
  end LEADER SECTION
  =========================
*/



/*
  =========================
  TEAM SECTION
  =========================
*/
.teams {
  padding-top: 113px;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .teams {
    padding-top: 56px;
    padding-bottom: 60px;
  }
}
.teams__title.title {
  padding-bottom: 69px;
  text-align: center;
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .teams__title {
    padding-bottom: 34px;
  }
}
.teams__btn-wrap {
  display: flex;
  justify-content: space-around;
  padding-bottom: 53px;
}
@media screen and (max-width: 767px) {
  .teams__btn-wrap {
    padding-bottom: 26px;
  }
}
@media screen and (max-width: 991px) {
  .teams__btn-wrap {
    flex-wrap: wrap;
  }
}
.teams__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  border-radius: 2em;
  background-color: #e9e9e9;
  color: #52555c;
  font-family: "robotomedium", sans-serif;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media screen and (min-width: 320px) {
  .teams__btn {
    width: calc((100% / 2) - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 576px) {
  .teams__btn {
    width: calc((100% / 3) - 20px);
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .teams__btn {
    width: auto;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .teams__btn {
    padding-left: 33px;
    padding-right: 33px;
    font-size: 16px;
  }
}
.teams__btn.is-active {
  color: #fff;
  background-color: #53c2d6;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.teams__block-wrap {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 991px) {
  .teams__block-wrap {
    flex-wrap: wrap;
    padding: 0 10px;
  }
}
@media screen and (max-width: 991px) {
  .teams__block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
.teams__block div {
  overflow: hidden;
  position: relative;
  width: 184px;
  height: 164px;
  margin-bottom: 15px;
  border: 1px solid #e4e4e4;
  background-color: #eeeeee;
}
.teams__block div a {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
}
.teams__block div a:before,
.teams__block div a:after {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 30px solid transparent;
}
.teams__block div a:before {
  border-bottom: 31px solid #1b3a8a;
}
.teams__block div a:after {
  border-right: 31px solid #1b3a8a;
}
.teams__block div a i {
  z-index: 1;
  position: absolute;
  right: 8px;
  bottom: 14px;
  width: 19px;
  height: 9px;
  background-image: url(../images/i-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.teams__block p {
  margin: 0;
  font-family: "robotobold", sans-serif;
}
.teams__block .teams__block-name {
  color: #536080;
  font-size: 16px;
}
.teams__block .teams__block-pos {
  color: #b3b3b3;
  font-size: 14px;
}
/*
  =========================
  end TEAM SECTION
  =========================
*/



/*
  =========================
  FOOTER
  =========================
*/
.footer {
  min-height: 203px;
  padding: 69px 30px 41px;
  background-color: #1b3a8a;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 34px 15px 20px;
  }
}
.footer__row {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__row {
    flex-wrap: wrap;
  }
}
.footer__row-left,
.footer__row-right {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .footer__row-left,
  .footer__row-right {
    width: 100%;
  }
}
.footer__row-left {}
.footer__row-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__row-right {
    align-items: center;
  }
}
.footer__line {
  width: 100%;
  max-width: 403px;
  height: 1px;
  margin: 0 0 25px 0;
  padding: 0;
  border: none;
  background-color: rgba(255,255,255,0.2);
}
@media screen and (max-width: 575px) {
  .footer__line {
    max-width: 100%;
  }
}
/*
  =========================
  end FOOTER
  =========================
*/



/*
  =========================
  LOGOTYPE
  =========================
*/
.logotype {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .logotype {
    text-align: center;
  }
}
/*
  =========================
  end LOGOTYPE
  =========================
*/
/*
  =========================
  COPYRIGHT
  =========================
*/
.copyright {
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .copyright {
    display: none;
  }
}
.copyright--mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .copyright--mobile {
    display: block;
  }
}
/*
  =========================
  end COPYRIGHT
  =========================
*/
/*
  =========================
  MENU
  =========================
*/
.menu {
  margin-bottom: 40px;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 575px) {
  .menu ul {
    flex-wrap: wrap;
  }
}
.menu ul li {
  list-style: none;
}
@media screen and (max-width: 575px) {
  .menu ul li {
    width: 100%;
  }
}
.menu ul li:first-child a {
  padding-left: 0;
}
.menu ul li:last-child a {
  padding-right: 0;
}
.menu ul li a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
  font-family: "robotoblack", sans-serif;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media screen and (max-width: 575px) {
  .menu ul li a  {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
}
.menu ul li a:hover {
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
.menu {}
/*
  =========================
  end MENU
  =========================
*/
/*
  =========================
  SOCIAL
  =========================
*/
@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 20px;
  }
}
.social ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social ul li {
  list-style: none;
}
.social ul li a {
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: opacity 0.3s ease-in-out;
}
.social ul li a:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.social ul li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*
  =========================
  end SOCIAL
  =========================
*/
/*
  =========================
  TITLE
  =========================
*/
.title {
  margin: 0;
  line-height: 1;
  color: #153587;
  text-transform: uppercase;
  font-family: "agendamedium", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 320px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (min-width: 576px) {
  .title {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 60px;
  }
}
.title--underline {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.title--underline:after {
  z-index: 0;
  opacity: 0.5;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 15px;
  background-color: #1ad5f7;
  transform: translateX(-100%);
  animation-name: underline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*
  =========================
  end TITLE
  =========================
*/