
@font-face {
    font-family: 'agendabold';
    src: url('../fonts/agenda-bold-webfont.woff2') format('woff2'), url('../fonts/agenda-bold-webfont.woff') format('woff');

}@font-face {
    font-family: 'agendamedium';
    src: url('../fonts/agenda-medium-webfont.woff2') format('woff2'), url('../fonts/agenda-medium-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff');

}@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');

}@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-light-webfont.woff') format('woff');

}@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),url('../fonts/robotocondensed-regular-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');

}@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff');
}
i {
  font-style: normal;
}
a:hover {
}
body {
  background: #ffffff;
  font-family: 'robotoregular', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'agendabold';
  text-transform: uppercase;
}
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'agendamedium';
}

p {
  font-family: 'robotoregular', sans-serif;
}

/* all section */
.custom-navbar.top-nav-collapse {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
}

.btn {
  font-family: 'latoregular', sans-serif;
  font-weight: 300;
}

.parallax-section {
  background-attachment: fixed !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
}

/* hr */
hr {
  border: 1px solid #c14000;
  width: 100px;
  margin-top: 20px;
}

/* h2 */
h2 {
  font-size: 60px;
  font-weight: bold;
}

/* overlay */
.overlay {
  width: 100%;
  height: 100%; /*   background: rgba(0, 0, 0, 0.7);*/
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}
.sk-rotating-plane {
  width: 30px;
  height: 30px;
  background-color: #0071bb;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  -moz-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  -o-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-moz-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-o-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* navigation */
.custom-navbar {
  margin-bottom: 0;
}

.custom-navbar .navbar-brand .navbar-toggle {
  background: #c14000;
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.custom-navbar .nav li a {
  cursor: pointer;
  color: #fff;
  font-family: 'robotoblack', sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 10px 20px;
}

.custom-navbar .nav li:first-child {
  padding-left: 0px;
}

.custom-navbar .nav li a:hover {
  background: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #fff;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 25px;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #c14000;
  border-color: transparent;
}

@media (min-width: 768px) {
  .custom-navbar {
    padding: 20px 0;
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.08);
  }
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.custom-navbar .dropdown-menu {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  width: 200px;
  padding: 0;
  border: none;
}
.custom-navbar .dropdown-menu li a {
  border-bottom: 1px solid #eee;
  line-height: 40px;
}
/* home */



/* footer */
footer {
  /*background: url(../images/footer_bg.jpg) repeat;*/
  /*color: #ffffff;*/
  /*padding-top: 30px;*/
  /*padding-bottom: 15px;*/
  /*text-align: left;*/
}

footer hr {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer span {
  color: #666666;
  font-weight: bold;
}

/* social icon */
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  top: 20px;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #303030;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}
.social-icon li a:hover {
  color: #c14000;
}
.navbar-brand {
  display: block;
  float: none !important;
  height: auto !important;
  padding: 3px 15px 0;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px !important;
  }
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    padding: 0 15px 0;
  }
}

.custom-navbar {
  padding: 0px;
  border-bottom: 0;
  background: 0 0;
}
.navbar-default .navbar-nav > li > a {
  color: #898989;
}
.custom-navbar .nav li.active > a {
  background: none !important;
  color: #28aa05;
  outline: none;
}
.navbar-right {
  float: right !important;
  margin-right: 0px;
}
.custom-navbar .nav li a:hover {
  background: none !important;
  color: #0072bc;
  outline: none;
}
.custom-navbar .navbar-toggle .icon-bar {
  background: #006fb7;
  border-color: transparent;
}


.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #fff;
  font-family: 'roboto_slabbold';
}

.table-cnt td span {
  width: 100%;
  float: left;
}

.table-cnt tr th:first-child {
  text-align: left;
}
.center-block {
  float: none;
}
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background: none !important;
}

/***************@media-css**************/

/* Bk Start */
body {
  /*background: #000;*/
}
.head_section,
.custom-navbar {
  height: 85px;
  background: #153587;
}
.navbar-brand > img
{
  width: 226px;
}
.custom-navbar .navbar-brand 
{
  padding-top: 5px;
  padding-left: 20px;
}

.custom-navbar .nav li a.btn_trans
{
  font-family: 'robotomedium' !important; font-size: 13px !important; color: #fff;
  border: 1px solid #2ba6d4; border-radius: 3px;
  padding: 13px 22px; text-transform: uppercase;
  margin: 0px 4px;
}
.custom-navbar .nav li a.btn_trans.btn_filled
{
  font-family: 'robotoblack' !important;
  background: #20beda;
}
.custom-navbar .nav li .btn_lang
{
  font-family: 'robotomedium' !important; font-size: 13px !important; color: #fff;
  border: 1px solid #2ba6d4; border-radius: 3px; background: #175299;
  padding: 13px 26px 13px 10px; text-transform: uppercase;
  margin: 0px 4px; position: relative;
  /*-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;*/
}
.btn_lang::after
{
  content: '';
  display: block;
  background: url(../images/eng_arrow.png) no-repeat;
  margin-top: -.5em;
  position: absolute;
  top: 54%;  right: 5px;
  width:12px; height: 10px;
  z-index: 3
}


.yellow_text 
{
  color: #ffcc00;
}

.page_wrap 
{
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: white;
}


@media screen and (min-width: 768px) {
  .page_wrap .header_inner {
    height: 103px;
    min-height: 103px;
  }
}

.custom-navbar .nav {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .custom-navbar .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .collapse.navbar-collapse {
    height: 100% !important;
  }
}


.hamburger {
  background: url(../images/hamburger.jpg) center no-repeat;
  width: 40px;
  height: 40px;
  -moz-background-size: 100%;
  background-size: 100%;
  float: right;
  outline: none;
}

#home {
  height: 800px;
  background: #153587;
}
.square_box
{
  width: 450px; height: 450px; 
  border: 1px solid #2045a4;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1;
}
.square_box i
{
  border:1px solid #516eb7;
  width: 10px; height: 10px;
  position: absolute; 
}
.square_box i.tp_left
{
  border-right: 0px; border-bottom: 0;
  top: -1px; left: -1px;
}
.square_box i.tp_right
{
  border-left: 0px; border-bottom: 0;
  top: -1px; right: -1px;
}
.square_box i.btm_left
{
  border-right: 0px; border-top: 0;
  bottom: -1px; left: -1px;
}
.square_box i.btm_right
{
  border-left: 0px; border-top: 0;
  bottom: -1px; right: -1px;
}
.square_box.email_outerbox
{
  width: 390px; height: 265px; 
  border: 1px solid #2045a4;
  position: absolute;
  top: 460px;
  right: 47%;
  z-index: 1;
}
.email_inner
{
  width: 390px;
  padding:20px;
  position: absolute;
  top: 460px;
  right: 47%;
  z-index: 4;
}
.banner_email
{
  background: rgba(255,255,255,0.12);
  padding: 22px;
  float: left;
  width: 100%;
  margin-top: 76px;
  position: relative;
}
.banner_email_field
{
  border: 0;
  width: 100%; height: 40px; padding: 5px 0px 5px 10px;
  float: left;
}
.email_arrow
{
  width: 50px; height: 40px;
  background: url(../images/email_arrow.png) no-repeat;
  position: absolute; right: 22px; top: 22px;
}
.email_inner .social-icon
{
  position: static;
  margin-top: 18px;
  float: left;
  width: 100%;
  padding-left: 10px;
}
@media screen and (min-width: 1340px) {
  .email_inner .social-icon
  {
    padding-left: 35px;
  }
}
#banner_vid
{
  width: 920px; height: 570px;
  Xbackground: url(../images/video_bg.jpg) no-repeat;
  position: absolute;
  right: 0px; top: 70px;
  z-index: 2;
}

.inner 
{
  width: 100%;
  max-width: 1340px; 
  margin: 0 auto;
  position: relative;
}

#home .inner 
{
  width: 100%;
}

.times
{
  font-family:"Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
  text-transform: none;
  width: 100%;
  display: inline-block;
}
.home-des h1 {
  font-size: 48px;
  color: #fff;
  line-height: 52px;
}
.home-des h1 br
{
  display: none;
}
@media screen and (min-width: 1340px) {
  .home-des h1 br
  {
    display: inline-block;
  }
}
u.underline
{
  display: inline-block;
  position: relative;
  text-decoration: none;
}
u.underline:after
{
  position: absolute;
  content: '';
  bottom:6px;
  left: 0px;
  height: 12px;  
  width: 100%;
  background-color:  #20beda;
  animation: underline 2s;
}
u.underline i
{
  z-index: 50;
  position: relative;
}
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#clockdiv
{
  font-family: 'robotomedium';
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
#clockdiv > div
{
  display: inline-block;
  padding: 15px;
  text-align: center;
}
#clockdiv > div:first-child
{
  padding-left: 0px;
}
#clockdiv div > span
{
  display: inline-block;
  font-size: 36px;
}
.clocktext
{
  margin-top: -5px;
  font-size: 12px;
}
.home-des h6
{
  font-family: 'agendamedium';
  font-size: 30px; color: #fff;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 135px;
}
.home-des p
{
  font-family: 'robotomedium';
  font-size: 16px; color: #9eb3e8;
  
}
.home-des p span
{
  display: inline-block; position: relative;
}
.home-des p span:after
{
  content: '';
  width:55px; height: 1px;
  background: #fff;
  position: absolute;
  right: -55px; top: 20px;
}

.base_btn 
{
  float: left;
  height: 55px;
  width: auto;
  font-family: 'robotobold';
  color: #fff;
  padding: 13px 35px 0;
  text-align: center !important;
  text-transform: uppercase;
  margin-right: 25px;
  border-radius: 3px;
}
.learn_btn 
{
  font-size: 14px;
  padding-top: 15px;
  background: #da3440;
  margin-top: 30px;
}
.base_btn:hover 
{
  text-decoration: none;
  color: #fff;
}

.home-des h1 span {
  font-size: 36px;
}

.custom-navbar .nav li > a:hover {
  color: #fff;
}


#home .home-des {
  width: 90%;
  max-width: 750px;
  margin-top: 90px;
  margin-right: 0;
  float: left;
  padding: 20px 0px 20px 20px;
  z-index: 50;
  position: relative;
}


.full {
  width: 100%;
  float: left;
}


.foot_row {
  width: 100%;
  max-width: 1280px;
  padding: 0px 20px;
  margin: 0 auto
}

.foot_logo img {
  width: 190px;
  max-width: 285px;
  margin-top: 36px;
}

.foot_logo_tagline {
  color: #9FA7AD;
  font-size: 17px;
  line-height: 20px;
  text-indent: 20px;
  padding-top: 10px;
}

.foot_links {
  border-left: 1px solid #0B151B;
  text-align: center;
}

.media_links {
  border-left: 1px solid #0B151B;
  border-right: 1px solid #0B151B;
  text-align: center;
}

.foot_links ul {
  float: left;
  padding: 0;
  margin: 0;
  min-width: 150px;
  padding-left: 25px;
}

.foot_links ul li {
  list-style: none;
  padding: 5px 0;
  text-align: left !important;
}

.foot_links ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.link_outer {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}


ul.social_links {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 30px;
}

.social_links li {
  list-style: none;
  margin: 2px 1px 0;
  float: left;
  width: 36px;
}


.foot_title {
  color: #fff;
  line-height: 17px;
  display: inline-block;
  padding-bottom: 25px;
}

.foot_title i {
  width: 100%;
  display: inline-block;
  font-family: 'proxima_novabold';
  font-size: 18px;
}

.foot_title span.sub {
  width: 100%;
  display: inline-block;
  font-family: 'proxima_novasemibold';
  font-size: 13px;
  color: #fff;
  position: relative;
  line-height: 13px;
}

.foot_title span.sub:after {
  content: '';
  width: 28px;
  height: 3px;
  background: #ffcc00;
  display: inline-block;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.f_links {
  margin: 0;
  padding: 10px 0 20px 0;
  width: 100%;
  float: left;
}

.f_links li {
  list-style: none;
}

.f_links li a {
  color: #b0b0b0;
  font-size: 14px;
  width: 100%;
  float: left;
  line-height: 24px;
}

footer .bdr_top {
  border-top: 1px solid #383645;
  padding-top: 10px;
  width: 100%;
}

.copy {
  float: left;
  font-size: 14px;
  color: #666666;
}

.privacy {
  float: right;
}

.privacy a {
  font-size: 14px;
  color: #666666;
  padding-left: 10px;
  padding-right: 10px;
}

#user_stories h1.site_title {
  color: #fff;
}


.readmore_btn {
  border: 2px solid #fff;
}

.user_slide i.us_logo {
  width: 40px;
  height: 130px;
  position: absolute;
  right: 0px;
  top: 10px;
  opacity: 0.4;
}

.user_slide.active i.us_logo {
  opacity: 1;
}

.main {
  padding-top: 112px;
  padding-bottom: 120px;
}

.general_page {

}

input::-webkit-input-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

input::-ms-input-placeholder {
  color: #000;
}

input::placeholder {
  color: #000;
}

.site_sub_title {
  font-size: 23px;
  color: #15141d;
  position: relative;
}

.para_bold {
  font-family: 'proxima_novabold';
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 10px;
}

.para_normal {
  font-size: 18px;
  line-height: 30px;
}

ul.tick_list {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
}

ul.tick_list li {
  list-style: none;
  background: url(../images/tick_blue.png) no-repeat 0 4px;
  padding-left: 30px;
  color: #15141d;
  font-size: 18px;
  line-height: 30px;
}

@media ( min-width: 1280px) {
  .ser_block_left {
    padding-right: 35px;
  }

  .ser_block_right {
    padding-left: 35px;
  }
}



/* NEWS BLOCK */
.news {
  float: left;
  width: 100%;
}

.news__title {
  padding-bottom: 80px;
  margin: 0;
  font-size: 65px;
  color: #fff;
}

.news .inner--top {
  padding-top: 100px;
  background-color: #0155bb;
}

.news .inner--bottom {
  min-height: 87px;
  background-color: #11408c;
}

.news__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 87px;
}

@media screen and (min-width: 320px) {
  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .news__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.news__block {
  margin-left: 5px;
  margin-right: 5px;
}

.news__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 251px;
  height: 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #ffffff;
  font-size: 16px;
  font-family: "proxima_novasemibold", Arial, sans-serif;
}

@media screen and (min-width: 320px) {
  .news__btn {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .news__btn {
    width: 211px;
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .news__btn {
    width: 251px;
  }
}

.news__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.news__social li {
  list-style-type: none;
}

.news__social-link {
  display: block;
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.news__social-link.i-fb {
  background-image: url("../images/i-fb.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-tw {
  background-image: url("../images/i-tw.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-g {
  background-image: url("../images/i-g.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-ln {
  background-image: url("../images/i-ln.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-y {
  background-image: url("../images/i-y.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-m {
  background-image: url("../images/i-m.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-sl {
  background-image: url("../images/i-sl.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news__social-link.i-tg {
  background-image: url("../images/i-tg.png");
  -moz-background-size: contain;
  background-size: contain;
}

.news .prev,
.news .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 11px;
  height: 18px;
  background-repeat: no-repeat;
}

.news .prev {
  left: 0;
  background-image: url("../images/i-prev.png");
}

.news .next {
  right: 0;
  background-image: url("../images/i-next.png");
}

.news .prev:hover,
.news .next:hover {
  opacity: 0.75;
}

.news .slick-slide {
  text-align: center;
}

.news__slider {
  width: 100%;
  max-width: 1374px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

.news__card {
  width: 100%;
  max-width: 306px !important;
  padding: 10px;
  background-color: #fff;
}

.news__card-img {
  overflow: hidden;
  position: relative;
  height: 170px;
  margin-bottom: 30px;
}

.news__card-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.news__card-title {
  min-height: 75px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 18px;
  font-family: "proxima_novabold", Arial, sans-serif;
}

.news__card-tag {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  text-align: left;
  line-height: 1;
  color: #9b8f8f;
  font-size: 14px;
  font-family: "proxima_novabold", Arial, sans-serif;
}

.news__card-date {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  line-height: 1;
  color: #9b8f8f;
  font-size: 14px;
  font-family: "proxima_novabold", Arial, sans-serif;
}

/* end NEWS BLOCK */



/* HAMBURGER */
.navbar-toggle span {
  position: relative;
}
.navbar-toggle.is-show span:nth-child(1) {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.navbar-toggle.is-show span:nth-child(2) {
  top: 1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}
.navbar-toggle.is-show span:nth-child(3) {
  top: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}
/* end HAMBURGER */